__pycache__/
*.pyc
.venv/
.vscode/
*.h5
*.tif
data/raw/
outputs/

# Personal/local test point files
data/field/moisture_points.csv
data/field/ROCX_soil_good_points.xlsx
data/processed/WOOD_test_daisyJordan.csv
data/processed/bare_soil_points.csv
